[submodule "CARP-S"]
	path = CARP-S
	url = git@github.com:automl/CARP-S.git
	branch = development

[submodule "benchmark_data/yahpo_data"]
    path = benchmark_data/yahpo_data
    url = https://github.com/slds-lmu/yahpo_data
[submodule "lib/SMAC3"]
	path = lib/SMAC3
	url = https://github.com/automl/SMAC3.git
