# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE settings
.vscode/
.idea/

# SMAC3 output
smac3_output

# PyExperimenter Database Credentials
config/database_credentials.yml

# DataFrame
benchmark_data/yahpo_data
benchmark_data/gt_prior_data/origin_table.csv
benchmark_data/prior_data
benchmark_data/mfpbench/

# logs
logs
dynabo/plots/*.csv
dynamic_submission.err
dynabo/plots/*/*.png
dynabo/plots/scenario_plots/*
*.zip

# add to gitignore except gitkeep
plots/dataset_plots/*
!plots/dataset_plots/.gitkeep

plots/scenario_plots/*
!plots/scenario_plots/.gitkeep
plotting_data/*
!plotting_data/.gitkeep
plots/metadata/difficulty/*.pdf
plots/metadata
plots/data_generation/joined.pdf
data
plots_old
plots_without_disregarding
benchmark_data/gt_prior_data/yahpo/origin_table.csv
benchmark_data/gt_prior_data/mfpbench/origin_table.csv
benchmark_data/gt_prior_data/yahpogym/origin_table.csv
plots/yahpo_ablation/yahpogym
plots/yahpo_ablation
